@{
    ViewData["Title"] = "Home Page";
}
<div class="jumbotron">
    <h1>Lincoln University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <p>
            This is a Lincoln University system to access, add, and edit university data.
        </p>
        <p>
            Note: unauthorized use is <strong>prohibited</strong>.
        </p>
    </div>
</div>

<img src="~/images/campus.jpg" />